body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header {
    text-align: center;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 0em;
}

section {
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0em;
    margin-bottom: 0em;
}

#profiles {
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

a {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.company {
    margin-bottom: 0.5em;
}

.selected {
    text-decoration: underline;
}

.phoneNumbers  {
    display: inline-block;
}

.phoneNumbers a {
    display: block;
    color: rgb(84, 49, 243);
}

input {
    border: none;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0em;
    margin-bottom: 0em;
    padding-left: 2em;
}
