body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.content {
    margin: auto;
    max-width: 600px;
}

header {
    margin-top: 1em;
    margin-bottom: 0em;
    color: rgb(193, 190, 207);
}

section {
    font-size: 1.5em;
    text-transform: uppercase;
    margin-top: 0em;
    margin-bottom: 0em;
}

#profiles {
    font-size: 1em;
    margin-top: 2em;
    margin-bottom: 1em;
}

a {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.company {
    margin-bottom: 0.5em;
}

.selected {
    text-decoration: underline;
}

.phone-numbers   {
    display: inline-block;
}

.phone-numbers a {
    display: block;
    color: rgb(84, 49, 243);
}

.websites  {
}

.websites a {
    text-transform: lowercase;
    display: block;
    color: rgb(36, 30, 62);
}

input {
    border: none;
    font-size: 1em;
    text-transform: uppercase;
    margin-top: 0em;
    margin-bottom: 0em;
}

@media (max-width: 640px) {
    .content {
        margin-left: 2em;
    }

    #professions a {
        display: block;
    }
}
